*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #F0997D;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

p{
    font-weight: 500;
}

/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
    border-radius: 4px;
  }
  
  /* Estiliza o polegar da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: #F0997D; /* Cor do polegar da barra de rolagem */
    border-radius: 4px; 
  }
  

.container{
    width: 900px;
    display: flex;
    flex-direction: column;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper2{
    width: 100%;
    display: none;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.frase{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}
.fr{
    padding: 30px;
    background-color: #FFC3A1;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

button{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color:#FFC3A1;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.bolsonaro{
    margin-top: 10vh;
    margin-bottom: 8vh;
    width: 90px;
    height: auto;
}
.love{
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
}


.myLove {
    width: 200px;
    height: auto;
    border-radius: 5%;
    object-fit: cover;
  }


#fixed{
    position: fixed;
    z-index: 9;
}

#stay{
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}
#stay2{
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}

.horizon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: 0.2s;
}
img:hover{
    transform: scale(1.12);
}

video{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}
section{
    column-count: 2;
    column-gap: 10px;
}

.heart{
    width: 250px;
}

@media (max-width: 990px) {
    .heart{
        width: 150px;
    }
    .myLove {
        width: 160px;
        height: auto;
      }
    .container{
        width: 90vw;
    }
    .love{
        margin-bottom: 3vh;
    }
    .fr{
        padding: 20px;
        background-color: #FFC3A1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
  }

  /* @media (max-width: 620px){
    .heart{
        width: 100px;
    }
    .myLove{
        width: 160px;
        height: 200px;
    }
  } */
  @media (max-width: 620px){
    .heart{
        width: 90px;
    }
    .myLove{
        width: 110px;
        height: auto;
    }
    .bolsonaro{
        margin-top: 13vh;
        margin-bottom: 6vh;
        width: 90px;
        height: auto;
    }
    #stay{
        margin-top: 10px;
        padding: 10px;
        font-size: 16px;
    }
    .fr{
        padding: 10px;
        background-color: #FFC3A1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
  }

  @media (max-width: 320px){
    .heart{
        width: 50px;
    }
    .myLove{
        width: 80px;
        height: auto;
    }
    .bolsonaro{
        margin-top: 13vh;
        margin-bottom: 6vh;
        width: 60px;
        height: auto;
    }
    #stay{
        margin-top: 10px;
        padding: 10px;
        font-size: 14px;
    }
  }